
* {
    outline: none;
}

html {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01);
    background: white;
    color: $dark;
    font-size: 24px;
    font-family: $Roboto;

    &.modal {
        overflow: hidden;
        height: 100%;
    }
}

a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: $dark;
    transition: $transition;

    &:hover {
        text-decoration: none;
        opacity: .7;
    }
}

button {
    background: none;
    border: none;
    padding: 0;
}

label, span {
    display: inline-block;
}

input[type=search] {
    appearance: none;
}

img {
    max-width: 100%;
    height: auto;
}

.clear {
    clear: both;
    @include clearfix;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.image-responsive {
    a, img {
        width: 100%;
        display: block;
    }

    img {
        height: auto;
    }
}

.visible-tablet {
    @include media($desktop) {
        display: none !important;
    }
}

.visible-phone {
    @include media($notMobile) {
        display: none !important;
    }
}

.hidden-tablet {
    @include media($tablet) {
        display: none !important;
    }
}

.hidden-phone {
    @include media($mobile) {
        display: none !important;
    }
}

.text-center {
    text-align: center;
}

nav {
    ul {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            a {
                display: inline-block;
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;

    a {
        color: $dark;
    }
}

input[type="search"] {
    border-radius: 0;
}

sup {
    font-size: 50%;
    top: -1em;
}

.close-btn, .toggle-single, .toggle, .toggle-select, .btn {
    cursor: pointer;
    user-select: none;
}

.toggleable {
    display: none;

    &.active {
        display: block;
    }
}

.aligncenter {
    display: block;
    margin: 0 auto 20px;
}

.alignleft {
    margin: 0 0 20px;

    @include media($notMobile) {
        float: left;
        max-width: 50%;
        margin: 0 20px 20px 0;
    }
}

.alignright {
    margin: 0 0 20px;

    @include media($notMobile) {
        float: right;
        max-width: 50%;
        margin: 0 0 20px 20px;
    }
}

.container {
    max-width: $pageWidth;
    margin: auto;
    padding: 0 30px;

    @include media($mobile) {
        padding: 0 15px;
    }
}

.form {
    .control, select, .upload {
        border-radius: 0;
        appearance: none;
        background: white;
        padding: 15px 25px;
        height: 70px;
        transition: $transition;
        width: 100%;
        font-size: 30px;
        border: 1px solid transparent;
        color: $dark;

        @include media($tablet) {
            height: 50px;
            padding: 10px 15px;
            font-size: 18px;
        }

        @include placeholder {
            font-style: italic;
            opacity: .4;
        }

        &:focus {
            border: 1px solid $dark;
        }

        &.error {
            border: 1px solid $red;
        }
    }

    textarea.control {
        height: 170px;
    }

    .select {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translate(0, -50%);
            @include triangle(16px, rgba(black, .5), down);
        }
    }

    .label {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 5px;

        @include media($mobile) {
            font-size: 18px;
        }
    }

    .group {
        margin-bottom: 25px;

        @include media($mobile) {
            margin-bottom: 15px;
        }
    }

    .row {
        @include media($notMobile) {
            display: flex;
            margin: 0 -10px;

            .group {
                padding: 0 10px;
                width: 50%;
            }
        }
    }

    .upload {
        position: relative;
        padding-right: 150px;

        input {
            display: none;
        }

        label {
            position: absolute;
            top: -1px;
            right: -1px;
            height: 45px;
            font-size: 20px;
            border-radius: 0;
        }

        .text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            em {
                margin-right: 30px;
            }
        }
    }
}

label.error {
    display: none !important;
}

.wrapper {
    min-height: calc(100vh - 60px);
    padding-bottom: 15px;
}

.bg {
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.btn {
    border: none;
    border-radius: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    transition: $transition;

    &:hover {
        opacity: .7;
    }

    img, i {
        margin: 0 5px;
        vertical-align: middle;
    }

    &.full {
        width: 100%;
    }

    &.disabled, &:disabled {
        opacity: .2;
        pointer-events: none;
    }

    &.primary {
        background-color: $green;
    }

    &.secondary {
        background-color: #525869;
    }

    &.info {
        background-color: $lightBlue;
    }
}

.dark {
    color: $lightDark;
}
