
$pageWidth: 1500px;

$Roboto: 'Roboto', $helvetica;

$currentMenuItem: '&.current-menu-item, &.current_page_item, &.current-menu-ancestor, &.current-menu-parent';

$boxShadow: 0 0 10px rgba(black, 0.15);
$textShadow: 0 2px 10px rgba(black, 0.25);
$colorThreshold: 15%;
$hoverOpacity: .75;
$transition: all .25s ease-out;

$dark: #222221;
$lightDark: #4f586a;
$green: #49e2d6;
$lightGreen: #8ae0d4;
$lightBlue: #a1bbe2;
$red: red;

$border: #d5d7d7;
$bg: #525869;
