
.login-area {
    background-image: url('../img/bg-home.jpg');
    padding: 15px 0;
    text-align: center;

    .logo {
        margin-bottom: 15px;
    }

    .description {
        font-size: 31px;
        font-weight: bold;
        color: white;
        margin-bottom: 25px;

        @include media($tablet) {
            font-size: 28px;
        }

        @include media($mobile) {
            font-size: 24px;
        }
    }

    .title {
        font-size: 60px;
        font-weight: 100;
        margin-bottom: 15px;

        @include media($mobile) {
            font-size: 30px;
        }
    }

    .items {
        @include media($notMobile) {
            display: flex;
            justify-content: space-between;
        }
    }

    .item {
        margin-bottom: 30px;

        @include media($notMobile) {
            width: 48%;
        }
    }

    .btn {
        font-size: 28px;
        padding: 15px 0;

        @include media($tablet) {
            font-size: 20px;
        }
    }

    .register {
        background-color: rgba(black, .5);
        padding: 20px;
        display: flex;
        align-items: center;

        .inner {
            width: 100%;
        }

        .text {
            font-size: 35px;
            font-weight: 500;
            margin-bottom: 25px;
            color: $green;

            @include media($tablet) {
                font-size: 24px;
            }
        }
    }
}