
.match-area {
    background-image: url('../img/bg-match.jpg');

    .back {
        color: $lightDark;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 900;

        @include media($mobile) {
            font-size: 20px;
        }

        img {
            margin-right: 10px;
        }
    }

    .block-title {
        font-size: 40px;
        font-weight: 900;
        margin-bottom: 15px;
        color: white;
        text-align: center;

        @include media($mobile) {
            font-size: 24px;

            img {
                display: none;
            }
        }

        .text {
            margin: 0 10px;
        }
    }

    .content-area {
        text-align: center;
        background-color: rgba(black, .3);
        padding: 15px;
        margin-bottom: 30px;

        .head {
            text-align: left;
            margin-bottom: 15px;
            padding-bottom: 10px;
            border-bottom: 1px solid $lightBlue;
            font-size: 22px;
            font-weight: bold;

            @include media($mobile) {
                font-size: 18px;
            }

            .time {
                color: $lightGreen;
                margin-right: 15px;
            }

            .name {
                color: $lightBlue;
            }

            img {
                position: relative;
                top: 3px;
            }
        }

        .title {
            display: inline-block;
            padding: 2px 30px;
            border-radius: 10px;
            background-color: $dark;
            color: white;
            font-size: 38px;
            font-weight: 500;

            @include media($bigDesktop) {
                position: relative;
                top: -45px;
            }

            @include media($smallDesktop) {
                padding: 2px 15px;
                margin-bottom: 15px;
            }

            @include media($mobile) {
                font-size: 26px;
            }
        }

        .form {
            @include media($bigDesktop) {
                margin-top: -30px;
            }

            @include media($desktop) {
                display: flex;
                align-items: flex-end;
            }
        }

        .label {
            color: white;
        }

        .control {
            border-radius: 10px;
        }

        .panel {
            @include media($desktop) {
                width: 50%;
                padding: 0 50px;
            }

            @include media($smallDesktop) {
                padding: 0 15px;
            }

            @include media($tablet) {
                padding: 0;
            }
        }

        .input {
            display: flex;

            @include media($desktop) {
                border-right: 1px solid $lightBlue;
            }

            .group {
                width: 33.3333%;
                padding: 0 10px;
            }

            .control {
                text-align: center;
                font-weight: 100;
                padding: 5px 0;
            }
        }

        .submit {
            text-align: left;
            display: flex;

            @include media($mobile) {
                flex-flow: row wrap;
            }

            .control {
                @include media($desktop) {
                    font-size: 24px;
                    height: 50px;
                    padding: 10px 15px;
                }
            }

            .group {
                padding: 0 10px;
            }

            .amount {
                width: 140px;

                .half {
                    display: flex;
                }

                .control {
                    flex: 1;
                }

                img {
                    height: 50px;
                    margin-left: 5px;
                }
            }

            .winner, .action {
                flex: 1;
            }

            .action {
                @include media($mobile) {
                    flex: 1 1 100%;
                }
            }
        }

        .btn {
            font-size: 22px;
            font-weight: 900;
            color: $lightDark;
            padding: 10px 0;

            @include media($mobile) {
                font-size: 18px;
            }
        }
    }
}

.matches-area {
    .item {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 15px;
        color: white;

        &:nth-child(2n+1) {
            .inner {
                background-color: rgba(black, .3);
            }
        }

        > div {
            display: flex;
        }

        .inner {
            background-color: rgba(black, .2);
            padding: 20px;
            width: 100%;
            display: flex;
            align-items: center;

            @include media($mobile) {
                padding: 15px;
            }
        }

        .meta, .name {
            width: 280px;
            padding-right: 5px;

            @include media($tablet) {
                width: 50%;
                padding-bottom: 5px;
            }

            @include media($mobile) {
                width: 100%;
                padding: 0 0 2px;
            }
        }

        .meta {
            font-size: 23px;
            font-weight: bold;

            @include media($mobile) {
                font-size: 18px;
            }

            .date, .dash {
                color: $lightGreen;
            }

            .dash {
                margin: 0 15px;
            }

            .time {
                color: $lightBlue;
            }
        }

        .name {
            font-size: 32px;
            font-weight: bold;

            @include media($tablet) {
                padding-right: 0;
            }

            @include media($mobile) {
                font-size: 22px;
            }
        }

        .info {
            flex: 1;
            font-size: 25px;

            @include media($mobile) {
                font-size: 18px;
            }

            img {
                vertical-align: middle;
                height: 35px;
                margin: 0 5px;

                @include media($mobile) {
                    height: 20px;
                }
            }
        }
    }
}

.whole-area {
    background-image: url('../img/bg-whole.jpg');

    .back {
        color: $lightDark;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 900;

        @include media($mobile) {
            font-size: 20px;
        }

        img {
            margin-right: 10px;
        }
    }
}